page-round {

    ion-content .scroll-content {
        background-color: color($colors, dark, base);
    }
    
        #round-help-button>span>ion-icon{
            color: color($colors, greened, base);
        }
}

.title-round {
    font-size: 12px;
    color: color($colors, shadow, base);
}

.title-question {
    font-size: 16px;
    color: color($colors, light, base);
}

#next-question-button {
    //position: fixed;
    bottom: -50px;
    display: block;
    margin: auto;
}

#round-question-desc {
    height: 40%;
    font-size: 18px;
    padding: 10px;
    border-radius: 1%;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 20px;

}

#round-answers {
    padding: 0 30px;

    button {
        text-transform: none;
        margin: 10px 0;
        height: 40px;
        background-color: color($colors, secondary, base);

        span {
            justify-content: right;
        }
    }
}

/*#overflow {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(59, 66, 84, 0.79);
}*/