// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

* {
    color: color($colors, light, base);

}
.toolbar-title-md {
    color: color($colors, primary, base);
}

ion-nav ion-content > *{
    background-color: color($colors, primary, base);
}

.scroll-content {
    overflow: hidden;
}


.rounded-button {
    display: block;
    margin: auto;
    border-radius: 20px;
    text-transform: none;
    text-transform: none;

    ion-icon {
        margin-right: 10px;
    }
}

ion-app.md [padding] .scroll-content {
    padding: 0px;
    padding-top: 10px;
}

ion-header {

    .toolbar-content {
        position: absolute;
        width: 100%;
    }
    .toolbar-background {
        background-color: color($colors, secondary, base);
    }
    .toolbar-title {
        text-align: center;

        > ion-icon {
            color: color($colors, greened, base);
        }
    }

    .segment-button{
        text-transform: none !important;
        font-size: 1.2em !important;

        &.segment-activated {
            color: color($colors, greened, base);
            border-color: transparent !important;
        }
    }

    .bar-button-menutoggle>span>ion-icon {
        background-color: color($colors, secondary, base);

    }

    .bar-button-menutoggle ion-icon {
        color: color($colors, primary, base);

    }
}

.card-md {

    border-radius: 0.4em;
}

ion-navbar.toolbar {
    padding: 0 1em;
}

.menu-inner{
    width: 70%;
}
ion-content#side-menu {
    background-color: color($colors, secondary, base);

    .scroll-content {
        overflow: hidden;
    }

    #menu-list{
        height: -webkit-fill-available;
        margin: 0;


        ion-item{
            background-color: transparent;

            .item-inner {
                border: none;
            }

            &.activePage{
                background-image: linear-gradient(30deg, color($colors, secondary, base) 0%, color($colors, primary, base)  100%);

                ion-label, ion-icon {
                    color: color($colors, light, base);
                }
            }
        }
        #menu-list-item-user{
            height: 6em;
            margin-bottom: 30px;
            background-image: linear-gradient(30deg, color($colors, secondary, base) 0%, color($colors, primary, base) 100%);

            ion-avatar>img {
                width: 4em;
                height: 4em;
            }

            #profile-values{
                display: flex;

                div {
                    color: color($colors, light, base);
                    margin-right: 0.8em
                }

                #stars ion-icon, #power ion-icon {
                    color: gold;
                }
            }

            h2 {
                color: color($colors, light, base);
                font-weight: bold;
                font-size: 1.4rem;
            }
        }
        #menu-list-item-logout {
            bottom: 10px;
            position: absolute;
            color:color($colors, danger, base);

            ion-label, ion-icon {
                color: color($colors, danger, base);
            }
        }
    }
}