<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Single Play
    </ion-title>
    <!--<ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="chatboxes"></ion-icon>
      </button>
    </ion-buttons>-->
  </ion-navbar>
</ion-header>
<ion-content padding id="simple-game-page">
  <!--<button id="singlePlay-button1" ion-button color="positive" block on-click="goToNewGame()">
    Start new
  </button>-->
  <h4 id="singlePlay-heading">
    Actual games
  </h4>
  
  <ion-card class="game-card" 
            id="{{item.id}}"
             
            [ngClass]="{'your-turn':item.waitingFor === currentUser.username}"
            *ngFor="let item of actualGames">

    <ion-card-content swipeAll (swipedown)="expandCard(item);" (swipeup)="hideExpandedCard(item);">
        <div (click)="item.waitingFor === currentUser.username? selectGame(item.id) : goToRoundInfo(item.id)">
          <div class="card-title">Round {{item.roundNumber}} - {{item.score}}</div>
          <div class="card-subtitle">{{item.secondPlayer.fullName}}</div>
        </div>
        <button ion-button outline round color="dark">Show details</button>
        <!--<div class="hiddesSlowly" [@expandGameCard]="item.expandedCard">
            <ion-list id="myFriends-list" *ngIf="!isSearchMode">
                      
                  <ion-item color="none" id="myFriends" *ngFor="let round of item.rounds">
                      <h2>
                          {{ round.score }}
                      </h2>
                    </ion-item>
              </ion-list>
            
        </div>-->
    </ion-card-content>


  </ion-card>


  <!--<button id="singlePlay-button2" ion-button color="primary" block outline>
    Show finished
  </button>-->

  <ion-fab center bottom id="start-new-game">
      <button ion-fab color="primary" >Start new</button>
      <ion-fab-list side="top">
          <button ion-fab>Quick game</button>
          <button ion-fab>Play with friend</button>
          <button ion-fab>Find user</button>
    </ion-fab-list>
  </ion-fab>

  <ion-footer id="footer-game">
      <ion-navbar>
        <div id="shape-background"></div>
          <ion-buttons end>
            <button ion-button icon-only>
              <ion-icon name="chatboxes"></ion-icon>
            </button>
          </ion-buttons>
      </ion-navbar>
    </ion-footer>
</ion-content>