page-single-play {

}

#start-new-game {
    margin-left: -65px;

    .fab{
        width: 130px;
        border-radius: 50px;
        height: 45px;
        font-size: 16px;
        bottom: 20px;
        box-shadow: none;
    }


}

#shape {
    width:50px;
    height:50px;
    background:#448ccb;
    position:relative;
}

#shape:before {
    content:'';
    position:absolute;
    bottom:50%;
    width:100%;
    height:100%;
    border-radius:100%;
    box-shadow: 0px 50px 0px 50px #448CCB;
}

.game-card {
    background-color: color($colors, secondary, base);
    //border: 0.15em solid color($colors, primary, base);
    padding: 15px 0px;
    text-align: center;
    border-radius: 0.2em;

    .card-title {
        font-size: 18px;
    }
}

.game-card.your-turn {
    background-color: color($colors, yellowed, base);

}

#singlePlay-heading {
    color: color($colors, light, base);
    text-align: center;
}

.hiddesSlowly {
    opacity: 0;
    height: 0;
}
