page-single-play {


    ion-footer ion-navbar.toolbar-md {
        min-height: 40px;

        button>span>ion-icon {
            color: color($colors, primary, base);
        }
        .toolbar-background {
            background: transparent;
        }
    }

    .fab-close-icon {
        line-height: 40px;
    }


    #shape-background{
        overflow:hidden;
    }
    #shape-background:before{
        content:'';
        position:absolute;    
        top: -24px;
        left: 117px;
        width: 142px;
        height: 50px;
        border-radius: 25px;
        box-shadow: 0px 0px 0px 9999px color($colors, secondary, base);
        z-index:-1;
    
    }

    ion-fab-list {
        margin: 50px 0;
    }
}

#start-new-game {
    margin-left: -65px;

    .fab{
        width: 130px;
        border-radius: 50px;
        height: 40px;
        font-size: 16px;
        bottom: 10px;
        box-shadow: none;
        background-color: color($colors, danger, base)
    }

}


.game-card {
    background-color: color($colors, orange, base);
    padding: 0px;
    text-align: center;
    border-radius: 0.2em;

    .card-title {
        font-size: 18px;
    }
}

.game-card.your-turn {
    background-color: color($colors, greened, base);

}

#singlePlay-heading {
    color: color($colors, primary, base);
    padding-left: 15px;
}
